
.footer{
    background-color: #183a37;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;



}
.footer p{
    color: #efd6ac;
    font-size: 12px;
}
.footer img{
    width: 120px;;
}