.header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2;
    border-bottom: 1px solid gray;

}

.header-pageName{
    font-size: 12px;
    color: red;
    margin-left: 10px;
    flex: 1 1;

}

.header-navbar{
    display: flex;
    list-style: none;
    font-size: 25px;
    margin: 0;
    padding: 0;
    flex: 1 1;
}

.header-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    border-left: 1px solid gray;
}

.header-link a{
    color: gray;
}

@media(max-width: 600px){

    .header-link{
        border-left: none;
    }

}