.header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #183a37;
    z-index: 2;
    border-bottom: 1px solid #006466;

}

.logo{
    width: 80px;
}

.header-pageName{
    
    margin: 10px 25px;
    flex: 1 1;

}

.header-navbar{
    display: flex;
    list-style: none;
    font-size: 25px;
    margin: 0;
    padding: 0;
    flex: 1 1;
}

.header-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    border-left: 1px solid #efd6ac3b;
}

.header-link a{
    color: #efd6ac;
}

.header-link a:hover{
    color: #ffe5b8;
}

@media(max-width: 600px){

    .header-link{
        border-left: none;
    }

}