.productCard{
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    width: 320px;
    padding: 20px 30px;
    position: relative;
    cursor: pointer;

}

.productCard hr{
    width: 200%;
    position:relative;
    left: -50px;
    color: gray;

}

.productCard-header{
    height: 200px;
}

.productImg{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;

}

.productImg2{
    display: none;
}

.productCard-header:hover .productImg{
    display: none;

}

.productCard-header:hover .productImg2{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
   
    
}

.productCard-body{
    height: 180px;
}

.productCard h3{
    color: gray;
    font-weight: normal;
    margin: 0;

}

.productCard span{
    display: block;
}

.productCard button{
    border: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 24px;
    padding: 14px;
    color: white;
    background-color: #3e1f47;
    border-radius: 500px;
    display: flex;
    cursor: pointer;
    transition: transform 300ms ease;
}

.productCard button:hover{
    background-color: #522a5e;
}





