.home{
    margin: 0 auto;
    max-width: 1200px;
}

.home-form{
    width: max-content;
    margin: 20px auto;
    border: 1px solid gray;
}

.home-formDiv input{
    color: gray;
    padding: 10px 40px 10px 10px;
    border: none;
    font-size: 14px;
}

.home-formDiv input::placeholder{
    color: gray;
}

.home-form button{
    font-size: 14px;
    padding: 10px;
    border: none;
    color: white;
    background-color: red;
    cursor: pointer;
}

.home-containerProducts{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    justify-items: center;
    grid-template-rows: auto;
    gap: 40px;
    margin: 0 20px 20px 20px;
}