.home{
    margin: 0 auto;
    max-width: 1200px;
}

.home-form{
    width: max-content;
    margin: 60px auto 20px;
    border-radius: 20px;
    padding: 0 0 0 10px;
    border: 1px solid #3e1f47;
  
}

.home-formDiv input{
    color: gray;
    font-size: 15px;
    border: none;
    
}

.home-formDiv input::placeholder{
    color: gray;

}

.home-form button{
    font-size: 14px;
    padding: 10px;
    border: none;
    color: white;
    background-color: #3e1f47;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    
}

.home-containerProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 30px auto;

}