.similarProducts{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
    gap: 40px;
    margin: 50px auto;
    max-width: 1200px;
}

@media(max-width: 620px){
    .similarProducts{
        margin:0 40px;
    }
}