
html{
box-sizing: border-box;
}
/* Reset */
*, ::after, ::before {
  box-sizing: inherit
}

body { 
  margin: 0;
  font-family: 'Inter', sans-serif;
  position: relative;
  padding-bottom: 150px;
  min-height: 100vh;
  
}

img {
  width: 100%;
  display: block;
}

a {
  font-family: inherit;
  text-decoration: none;
}

input {
  outline: none;
}
